@import "~bulma/sass/utilities/initial-variables"

$primary-color: #009176
$primary-color-invert: #fff

$primary: $primary-color
$primary-invert: $primary-color-invert
$dark-red: #901b2b

$smaller-screen: 420px
$small-screen: 576px
$medium-screen: 768px
$large-screen: 992px
$largest-screen: 1200px

body
  font-size: 1.1rem !important
  color: #141414 !important
a
  color: $primary-color !important

a:visited
  color: $dark-red

.lora
  font-size: 1.21rem
  line-height: 1.65
  font-family: 'Lora', serif
  letter-spacing: -.003rem

.navbar .navbar-menu
  box-shadow:none !important

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

.margin-top-0
  margin-top: 0 !important

.video-container
  position: relative
  width: 100%
  height: 0
  padding-bottom: 56.25%

.video-iframe
  position: absolute !important
  top: 0 !important
  left: 0 !important
  width: 100% !important
  height: 100%!important

.content .tag, .content .number, 
  display: inline
  padding: inherit
  font-size: inherit
  line-height: inherit
  text-align: inherit
  vertical-align: inherit
  border-radius: inherit
  font-weight: inherit
  white-space: inherit
  background: inherit
  margin: inherit

.content code
  background-color: inherit

.content h1, h2, h3, h4
  color: inherit !important

strong
  color: inherit !important

.content
  max-width: 960px !important;

strong
  color: inherit !important

.section
  padding: 3rem 1.2r !important

.zeroMargin
  margin: 0

@import "~bulma"
